		body{
			padding:0px;
			margin:0px;
		}
		
		*{
		padding:0px;
		margin:0px;
		}
		#div1 img{
			width:100%;
		}
		h4{
			font-weight:bold;
		}
		#div1{
		position:relative;
		}
		#div2{
		position:absolute;
		top:600px;
		left:20%;
		right:10%;
		bottom:300px;
		}
		.titre{
		color:#fff;
		border-top:2px solid #fff;
		border-bottom:2px solid #fff;
		padding:30px;
		text-align:center;
		font-weight:bold;
		margin-bottom:80px;
		}
		h3{
		text-align:center;
		border:2px solid #fff;
		color:#fff;
		width:250px;
		padding:20px;
		font-weight:bold;
		margin:0px auto;
		}
		ul li a:hover{
		color:#2ecc71;
		}
		#div3{
		display:flex;
		background-color:#ecf0dd;
		}
		@media screen and (max-width:1024px){
			.carou{height:500px;}
			#div3{
				display:flex;
				flex-direction:column;
			}
			#img_aly img{
				width:100%;
			}
			#porto img{
				width:100%;
			}
			#div1 h1{
				font-size:15px;
				padding:15px;
			}
			#div1 img{
				width:100%;
			}
			h1{font-size:15px;text-align:center; padding-left:5px; padding-right:5px;}
			#div10 h4{font-size:15px;text-align:center;padding-left:4px;padding-right:4px;}
			#div4 h2{font-size:15px;text-align:center;padding-left:4px;padding-right:4px;font-weight:bold;}
		}
		h1{
		font-weight:bold;
		text-align:center;
		}
		#div5{
		background-color:#ecf0dd;
		height:200px;
		}
		ul li{
		list-style-type:none;
		}
		p{
			text-align:center;
		}
		}
		#div7{
		background-color:black;
		color:#fff;
		}
		#div8{
		text-align:center;
		background-color:#000;
		color:gray;
		width:100%;
		margin:0px auto;
		}
		#im img{
			height:450px;
		}
		.cv img{
			width:100%;
			height:100%;
		}
		#porto{
			margin-bottom:40px;
		}
		#porto img{
			width:100%;
			height:100%;
		}
		#row2 img{
			width:100%;
			height:100%;
		}
		#row2{
			margin-bottom:40px;
		}
		
		mark{
		margin:20px 40px 20px 80px;
		padding:10px;
		}
		#moi{
		text-align:center;
		}
		.aa{
		width:50%;
		}
		.bb{
		width:30%;
		}
		.cc{
		width:80%;
		}
		.dd{
		width:90%;
		}
		#div1 img{
			width:100%;
			}
		#div5 h1{
			text-align:center;
		}
		#div10{
			padding-left:80px;
			text-align:justify;
			padding-right:50px;
		}
		#forma{
			text-align:center;
		}
		.merite h1{text-align:center;}
		ul li{
			text-align:center;
		}
		.image:hover .caption{opacity:0.7;}
		#fig1 img{
			opacity:1;
		}
		#fig1 img:hover #e1{
			opacity:0.6;
		}
		#fig2 img:hover{
			background-color:RGBa(52, 52, 52, 1);
			color:#d35400;
		}
		#fig3 img:hover{
			background-color:#2980b9;
		}
		#fig4 img:hover{
			background-color:red;
		}
		#fig5 img:hover{
			background-color:red;
		}
		#fig6 img:hover{
			background-color:red;
		}
		#mycarousel{
		background-color:black;
		height:200px;
		width:100%;
		}
		#mycarousel h5{
			color:#fff;
			font-weight:bold;
			text-align:center;
		}
		.image{position:relative;width:100%;height:310px;}
		
		.image .caption1{opacity:0;position:absolute;height:310px;width:100%;bottom:0px;left:0px;right:0px;color:#fff;background-color:#3498db;}
		.image .caption2{opacity:0;position:absolute;height:310px;width:100%;bottom:0px;left:0px;right:0px;color:#fff;background-color:#e67e22;}
		.image .caption3{opacity:0;position:absolute;height:310px;width:100%;bottom:0px;left:0px;right:0px;color:#fff;background-color:#3498db;}
		.image .caption4{opacity:0;position:absolute;height:310px;width:100%;bottom:0px;left:0px;right:0px;color:#fff;background-color:#9b59b6;}
		.image .caption5{opacity:0;position:absolute;height:310px;width:100%;bottom:0px;left:0px;right:0px;color:#fff;background-color:#1abc9c;}
		.image .caption6{opacity:0;position:absolute;height:310px;width:100%;bottom:0px;left:0px;right:0px;color:#fff;background-color:#9b59b6;}
		
		.image:hover .caption1{opacity:0.7;}
		.image:hover .caption2{opacity:0.7;}
		.image:hover .caption3{opacity:0.7;}
		.image:hover .caption4{opacity:0.7;}
		.image:hover .caption5{opacity:0.7;}
		.image:hover .caption6{opacity:0.7;}